* {
  background-color: #BCB88A;
}

body {
  padding: 1em;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 70px;
  text-align: center;
}

a {
  color: #CC9900;
}

main {
  margin: auto;
  width: 80%;
}

address {
  display: inline-block;
}

/*hr {
  margin: 1em;
  width: 80%;*/
}
